<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <div>
        <img style="height: 300px; width: 400px;"
             src="https://scontent.fsgn16-1.fna.fbcdn.net/v/t39.30808-6/407652834_2032080713817249_5464678539625378821_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=a5f93a&_nc_eui2=AeFDnAfQ42nrp4rxz_uO8JfIFQDW4xiQ1gAVANbjGJDWACgDzilYka8gojdbfMd_Wxsa6B69v1EFvP7rjaygDAPC&_nc_ohc=HrRhvQrKqdIQ7kNvgHVu7rq&_nc_zt=23&_nc_ht=scontent.fsgn16-1.fna&_nc_gid=ATWOfpj12V93pcTqU3e15r5&oh=00_AYATfsEYBoC78ikxxLmAn3bHA5obajqCyGsgLChJ5Wia8Q&oe=6724D1C8" alt="">
    </div>
</div>
</html>